/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    padding: 0px 20px;
    word-spacing: 2px;

}

.img{
    display: block;
    width: 100%;
}

/* utility */

.btn{
background-color: blue;
color: #fff;
padding: 10px 15px;
}
.btn:hover{
    background-color: rgb(42, 93, 165);
}
.list{}

/* main-utility */
.br{
  font-weight: bold;
  display: block;
}

.space{ 
    padding: 20px 0;
}
.icon{
    padding: 10px 0;
}

i{
    margin-right: 10px;
}

/* nav */

nav{

    padding: 20px 10px;
}
.nav-row{
    display: flex;
    justify-content: space-between;
}

.nav-left{
    display: flex;
}
.img-logo{
    max-width: 100px;
}
.list-left a {

    
}

.list-left a:hover, .list-right a:hover{
      width: 100%;
      border-bottom: 2px solid rgb(118, 169, 194);
}

.nav-right{}
.list-right{}


/* header */
.header{
    background-color: rgb(118, 169, 194);
     padding-top: 30px;
}
.container{
    width:60% ;
    margin: auto;
   
}
.header-title h1{
    text-align: start;
    font-size: 4rem;
    word-spacing: 4px;
}
.header-title h1{}
.header-row{
    display: flex;
    justify-content: space-between;
}
.header-body{
    position: relative;
    padding: 20px 20px 20px 0px;
}
.body-test{
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
}
.body-btn{
    margin: 40px 0;
}
.body-btn a{
    display: inline-block;

}
.body-span{
    padding: 30px 0;
    word-spacing: 2px;
}
.body-icon{
    position: absolute;
    bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
.header-img{
    transform: translateY(50px) scaleY(1.2);
    /* transform: translateX(0px) scale(1); */

    margin-left: 20px;
}
/* main */
.main{
    margin-top: 100px;
}
.container-main{
    width: 90%;
    margin: auto;
}
.container-columns{}
.column-title{
    font-size: 1.5rem;
}
.column-input{
   display: flex;
   
}
.input-cheked{
    margin-right: 30px;
}
.input{}
.columns-row{
    width: calc(100% /3 -20px);
}
.columns-column{
    border: 1px solid black;
}
.column1{}
.column-label{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 15px 0;

}
.column-item{
    padding: 20px 30px;
}
.column-title h4{
    padding-bottom:20px;
    letter-spacing: 2px;
}
.column-infoIcone{}
.column-btn a {
display: block;
}
.underline{
    text-decoration: underline;
    padding-left: 0;
}
.line{
    width: 80px;
    border-bottom: 1px solid darkgrey;
}
.column-list ul  li{
   padding: 10px 0;
   display: block;
}
.column-list i {
    color: blue;
}
.column-subtitle{}

